<!DOCTYPE html>
<html>
    <head>
	<title>Granny's Addressbook</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta content="Brian Crucitti" name="author" />
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/scripts.js")" type="text/javascript"></script>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
<div id="divContent">
<div id="divTitle">
	<h2>Granny's Addressbook</h2>
</div>
<div id="divAlerts">
<ul id="alerts">
</ul>
</div>
<div id="divContact">
<form>
	<label for="frmName">Name:</label>
	<input type="text" id="frmName" name="frmName" />
	
	<label for="frmAddress">Address:</label>
	<textarea rows="5" cols="40" id="frmAddress" name="frmAddress" ></textarea>
	
	<label for="frmPhone">Phone:</label>
	<input type="text" id="frmPhone" name="frmPhone" />
	
	<label for="frmEmail">Email:</label>
	<input type="text" id="frmEmail" name="frmEmail" />
	
	<button onclick="saveContact(); return false;" >Save</button>
</form>
</div>

<div id="divContactList">
<form>
	<select size="15" id="frmContacts">
		<option value="-1" selected></option>
	</select>
	<button type="button" onclick="deleteContact(); return false;" >Delete</button>
</form>
</div>
</div>
</body>
</html>